In [1]:
!pip install xlrd

Looking in indexes: https://pypi.org/simple, https://pip.repos.neuron.amazonaws.com
Collecting xlrd
  Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 96.5/96.5 kB 1.9 MB/s eta 0:00:00a 0:00:01
Installing collected packages: xlrd
Successfully installed xlrd-2.0.1

In [2]:
import pandas as pd

In [5]:
df = pd.read_excel('s3://calvin-241-python-s3/Diamonds.xls')

df.head()

   IDNO  WEIGHT COLOR CLARITY RATER  PRICE
0     1    0.30     D     VS2   GIA   1302
1     2    0.30     E     VS1   GIA   1510
2     3    0.30     G    VVS1   GIA   1510
3     4    0.30     G     VS1   GIA   1260
4     5    0.31     D     VS1   GIA   1641

In [6]:
df.tail()

     IDNO  WEIGHT COLOR CLARITY RATER  PRICE
303   304    1.01     I     VS1   HRD   8175
304   305    1.02     F    VVS2   HRD  10796
305   306    1.06     H    VVS2   HRD   9890
306   307    1.02     H     VS2   HRD   8959
307   308    1.09     I    VVS2   HRD   9107

In [9]:
print(df)

     IDNO  WEIGHT COLOR CLARITY RATER  PRICE
0       1    0.30     D     VS2   GIA   1302
1       2    0.30     E     VS1   GIA   1510
2       3    0.30     G    VVS1   GIA   1510
3       4    0.30     G     VS1   GIA   1260
4       5    0.31     D     VS1   GIA   1641
..    ...     ...   ...     ...   ...    ...
303   304    1.01     I     VS1   HRD   8175
304   305    1.02     F    VVS2   HRD  10796
305   306    1.06     H    VVS2   HRD   9890
306   307    1.02     H     VS2   HRD   8959
307   308    1.09     I    VVS2   HRD   9107

[308 rows x 6 columns]

In [11]:
df.describe()

             IDNO      WEIGHT         PRICE
count  308.000000  308.000000    308.000000
mean   154.500000    0.630909   5019.483766
std     89.056162    0.277183   3403.115715
min      1.000000    0.180000    638.000000
25%     77.750000    0.350000   1625.000000
50%    154.500000    0.620000   4215.000000
75%    231.250000    0.850000   7446.000000
max    308.000000    1.100000  16008.000000

In [13]:
df['PRICE']

0       1302
1       1510
2       1510
3       1260
4       1641
       ...
303     8175
304    10796
305     9890
306     8959
307     9107
Name: PRICE, Length: 308, dtype: int64

In [15]:
df['RATER']

0      GIA
1      GIA
2      GIA
3      GIA
4      GIA
      ...
303    HRD
304    HRD
305    HRD
306    HRD
307    HRD
Name: RATER, Length: 308, dtype: object

In [22]:
df.loc[df['PRICE']>1500]

     IDNO  WEIGHT COLOR CLARITY RATER  PRICE
1       2    0.30     E     VS1   GIA   1510
2       3    0.30     G    VVS1   GIA   1510
4       5    0.31     D     VS1   GIA   1641
5       6    0.31     E     VS1   GIA   1555
14     15    0.34     E     VS1   GIA   1693
..    ...     ...   ...     ...   ...    ...
303   304    1.01     I     VS1   HRD   8175
304   305    1.02     F    VVS2   HRD  10796
305   306    1.06     H    VVS2   HRD   9890
306   307    1.02     H     VS2   HRD   8959
307   308    1.09     I    VVS2   HRD   9107

[245 rows x 6 columns]

In [25]:
df['COLOR'].value_counts()

F    82
G    65
H    61
E    44
I    40
D    16
Name: COLOR, dtype: int64

In [31]:
df['WEIGHT'].mean()

0.6309090909090909

In [33]:
df.groupby('COLOR').mean()['PRICE']

/tmp/ipykernel_14427/1762345461.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('COLOR').mean()['PRICE']

COLOR
D    7099.875000
E    5507.931818
F    4786.402439
G    4426.184615
H    4965.016393
I    5175.025000
Name: PRICE, dtype: float64

In [34]:
df['unit_price'] = df['PRICE']/df['WEIGHT']

df.head()

   IDNO  WEIGHT COLOR CLARITY RATER  PRICE   unit_price
0     1    0.30     D     VS2   GIA   1302  4340.000000
1     2    0.30     E     VS1   GIA   1510  5033.333333
2     3    0.30     G    VVS1   GIA   1510  5033.333333
3     4    0.30     G     VS1   GIA   1260  4200.000000
4     5    0.31     D     VS1   GIA   1641  5293.548387

In [35]:
from scipy import stats

In [38]:
model = stats.linregress(df['WEIGHT'], df['PRICE'])

In [41]:
print(model.slope)
print(model.intercept)

11598.884012882309
-2298.3576018937993

In [43]:
print(.5*model.slope+model.intercept)

3501.084404547355

In [44]:
!pip install textblob

Looking in indexes: https://pypi.org/simple, https://pip.repos.neuron.amazonaws.com
Collecting textblob
  Downloading textblob-0.17.1-py2.py3-none-any.whl (636 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 636.8/636.8 kB 9.2 MB/s eta 0:00:0000:01
Requirement already satisfied: nltk>=3.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from textblob) (3.8.1)
Requirement already satisfied: regex>=2021.8.3 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from nltk>=3.1->textblob) (2022.10.31)
Requirement already satisfied: click in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from nltk>=3.1->textblob) (8.1.3)
Requirement already satisfied: tqdm in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from nltk>=3.1->textblob) (4.64.1)
Requirement already satisfied: joblib in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from nltk>=3.1->textblob) (1.2.0)
Installing collected packages: textblob
Successfully installed textblob-0.17.1

In [45]:
from textblob import TextBlob

In [50]:
result = TextBlob('i love monkeys')

print(result.sentiment.polarity)

0.5